* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 90%;
    color: white;
    background-color: #0b2523;
    background-image: linear-gradient(to right, #0b2523, #161a42);
    font-size: x-large;  
}

.button1 {
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #36f459;
    border: none;
    color: white;
    padding: 11px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

.code-row {
    margin: 15px;
}


#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 88%;
    /* min-width: 300px; */
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

.rounded {
    border-radius: 2.25rem!important
}

/* beatify code with codemirror custom CSS*/
.CodeMirror.cm-s-default {
    height: auto;
    font-size: 18px;
}


/* For Desktop View */
@media screen and (min-width: 1024px) {  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    #regForm {
        font-size: 11px;
    }
  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    #regForm {
        font-size: 10px;
    }
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    #regForm {
        font-size: 13px;
    }
  }
   
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
    #regForm {
        font-size: 9px;
    }
  }
   
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #regForm {
        font-size: 8px;
    }
  }
   
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #regForm {
        font-size: 8px;
    }
  }
   
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #regForm {
        font-size: 10px;
    }
  }